.craft {
    padding-top: 120px;
    background-color: #808080;
    position: relative;
    z-index: -2;
    &__wrapper {
        padding: 60px 11px 120px 11px; 
        display: grid;
        grid-template-columns: repeat(4, 270px);
        grid-template-rows: repeat(2, 270px);
        gap: 13px 13px;
        grid-auto-flow: column;
        grid-template-areas:
            "craft__item-1 craft__item-2 craft__item-3 craft__item-4"
            "craft__item-5 craft__item-6 craft__item-7 .";
        grid-area: craft__wrapper;
    }
    &__item-1 {
        grid-area: craft__item-1;
        padding: 30px 29px 25px 30px;
        border: 1px solid #2f4f4f;
        border-radius: 8px;
        img {
            padding-bottom: 10px;
        }
    }
    &__item-2 {
        grid-area: craft__item-2;
        padding: 30px 29px 25px 30px;
        border: 1px solid #2f4f4f;
        border-radius: 8px;
        img {
            padding-bottom: 10px;
        }
    }
  
    &__item-3 {
        grid-area: craft__item-3;
        padding: 30px 29px 25px 30px;
        border: 1px solid #2f4f4f;
        border-radius: 8px;
        img {
            padding-bottom: 10px;
        }
    }
  
    &__item-4 {
        grid-area: craft__item-4;
        padding: 30px 29px 25px 30px;
        border: 1px solid #2f4f4f;
        border-radius: 8px;
        img {
            padding-bottom: 10px;
        }
    }
  
    &__item-5 {
        grid-area: craft__item-5;
        padding: 30px 29px 25px 30px;
        border: 1px solid #2f4f4f;
        border-radius: 8px;
        img {
            padding-bottom: 10px;
        }
    }
  
    &__item-6 {
        grid-area: craft__item-6;
        padding: 30px 29px 25px 30px;
        border: 1px solid #2f4f4f;
        border-radius: 8px;
        img {
            padding-bottom: 10px;
        }
    }
  
    &__item-7 {
        grid-area: craft__item-7;
        padding: 30px 29px 25px 30px;
        border: 1px solid #2f4f4f;
        border-radius: 8px;
        img {
            padding-bottom: 10px;
        }
    }
    &__item-body {
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
        color: #000000;
    }
}