.promo {
    min-height: 100vh;
    position: relative;
    background: url('../img/main_bg.jpg') center center/cover no-repeat;
    padding-top: 295px;
    &__title {
        margin-top: 10px;
    }
    &__subtitle {
        position: relative;
        padding-left: 11px;
        z-index: 2;
        @include before_circle;
    }
    &__btns {
        margin-top: 25px;
        display: flex;
        width: 269px;
        align-items: center;
        justify-content: space-between;
    }
    &__link {
        color: $text-color;
        font-weight: bold;
        &:hover {
            color: $text-color;
            text-decoration: none; 
        }
    }

}